<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/partials/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <!-- <header><% include ./partials/header %></header> -->
    <!-- <script src="./landing.ejs"></script> -->
    <div class="Header">
      <div class="Container">
        <div class="Header-logo">
          <a href="/" class="Logo">
            <img
              class="Logo-image"
              src="//cdn-assets-s3.streeteasy.com/assets/logos/streeteasy-logo-white-1ab418223836c9074eb6f68857ad68a697eb31d2c86a98e597a467a7e527ac94.svg"
              alt="Streeteasy logo white"
            />
          </a>
        </div>

        <div class="Header-nav">
          <div class="HeaderNav">
            <ul>
              <li class="HeaderNav-li">
                <a href="https://streeteasy.com/agent-resources/advertise/"
                  >Advertise</a
                >
              </li>
              <li class="HeaderNav-li HeaderNavItem">
                <span class="HeaderNavItem-text"
                  >Recent Searches &nbsp;<i class="icon-angle-down"></i
                ></span>
                <div class="HeaderNavItem-popup HeaderNavItem-popup--wide">
                  <ul>
                    <li class="HeaderNavItemPopupRow">
                      <a
                        title="For Sale: listings in Brooklyn"
                        class="HeaderNavItemPopupRow-link"
                        href="/for-sale/brooklyn"
                        >For Sale: listings in Brooklyn</a
                      >
                      <span class="HeaderNavItemPopupRow-btn">
                        <a
                          class="button button-tool jsSaveButton jsNotSaved"
                          rel="nofollow"
                          id="add_folder_entry_Search_2815_link"
                          href="#"
                          ><i class="icon-star-empty jsIconStar"></i> SAVE</a
                        >
                      </span>
                    </li>
                  </ul>
                  <ul>
                    <li><a href="#">Sign In</a></li>
                  </ul>
                </div>
              </li>

              <li
                class="HeaderNav-li HeaderNav-itemRightSeparator"
                name="signin"
              >
                <a href="#">Sign In</a>
              </li>
              <li class="HeaderNav-li" name="register">
                <a href="#">Register</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="MainNavBlock">
      <div class="Container">
        <ul class="MainNav">
          <li class="MainNavItem"><a class="MainNavItem-text">Sales</a></li>
          <li class="MainNavItem"><a class="MainNavItem-text">Rentals</a></li>
          <li class="MainNavItem"><a class="MainNavItem-text">Building</a></li>
          <li class="MainNavItem"><a class="MainNavItem-text">Resources</a></li>
          <li class="MainNavItem"><a class="MainNavItem-text">Blog</a></li>
        </ul>
        <div class="MainNavBlock-search">
          <form class="Search">
            <input
              type="text"
              name="search"
              placeholder="e.g. address, building, agent"
              class="Search-input"
            />
            <button class="Search Search-button" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="ColoredBox">
      <div class="ColoredBox-content">
        <div class="Footer"><div class="Footer-neighborhood"></div></div>
      </div>
    </div>

    <!-- <footer><% include ./partials/footer %></footer> -->
  </body>
</html>
