<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="http://ec2-18-223-116-251.us-east-2.compute.amazonaws.com/reset.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
      integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
      integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
      integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="http://ec2-18-223-116-251.us-east-2.compute.amazonaws.com/carousel-style.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="http://ec2-18-218-251-40.us-east-2.compute.amazonaws.com:3009/:id/stylesheet.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://ec2-54-174-166-132.compute-1.amazonaws.com/:id/styles.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://ec2-18-218-63-198.us-east-2.compute.amazonaws.com/:id/styles.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/partials/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="Header-block">
      <div class="Header">
        <div class="Landing-container">
          <div class="Header-logo">
            <a href="" class="Logo">
              <img
                class="Logo-image"
                src="//cdn-assets-s3.streeteasy.com/assets/logos/streeteasy-logo-white-1ab418223836c9074eb6f68857ad68a697eb31d2c86a98e597a467a7e527ac94.svg"
                alt="Streeteasy logo white"
              />
            </a>
          </div>

          <div class="Header-nav">
            <div class="HeaderNav">
              <ul>
                <li class="HeaderNav-li"><a href="">Advertise</a></li>
                <li class="HeaderNav-li HeaderNavItem">
                  <span class="HeaderNavItem-text"
                    >Recent Searches &nbsp;<i class="icon-angle-down"></i
                  ></span>
                  <div class="HeaderNavItem-popup HeaderNavItem-popup--wide">
                    <ul>
                      <li class="HeaderNavItemPopupRow">
                        <a
                          title="For Sale: listings in Brooklyn"
                          class="HeaderNavItemPopupRow-link"
                          href=""
                          >For Sale: listings in Brooklyn</a
                        >
                        <span class="HeaderNavItemPopupRow-btn">
                          <a
                            class="button button-tool jsSaveButton jsNotSaved"
                            rel="nofollow"
                            id="add_folder_entry_Search_2815_link"
                            href=""
                            ><i class="icon-star-empty jsIconStar"></i> SAVE</a
                          >
                        </span>
                      </li>
                    </ul>
                    <ul>
                      <li><a href="">Sign In</a></li>
                    </ul>
                  </div>
                </li>

                <li
                  class="HeaderNav-li HeaderNav-itemRightSeparator"
                  name="signin"
                >
                  <a href="">Sign In</a>
                </li>
                <li class="HeaderNav-li" name="register">
                  <a href="">Register</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="MainNavBlock">
        <div class="Landing-container">
          <ul class="MainNav">
            <li class="MainNavItem"><a class="MainNavItem-text">Sales</a></li>
            <li class="MainNavItem"><a class="MainNavItem-text">Rentals</a></li>
            <li class="MainNavItem"><a class="MainNavItem-text">Building</a></li>
            <li class="MainNavItem">
              <a class="MainNavItem-text">Resources</a>
            </li>
            <li class="MainNavItem"><a class="MainNavItem-text">Blog</a></li>
          </ul>
          <div class="MainNavBlock-search">
            <form class="Search">
              <input
                type="text"
                name="search"
                placeholder="e.g. address, building, agent"
                class="Search-input"
              />
              <button class="Search Search-button" type="submit"></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="Content">
      <div class="Landing-container">
        <div class="Components-row Component">
          <article
            class="Image-Gallery Component"
            id="carousel-container"
          ></article>
          <article class="Details Component" id="details-container"></article>
          <article
            class="Description Component"
            id="description-container"
          ></article>
          <hr class="Separator" />
          <article
            class="Similar-listings Component"
            id="similar-container"
          ></article>
        </div>
      </div>
    </div>

    <div class="ColoredBox">
      <div class="ColoredBox-content">
        <footer class="Footer">
          <div class="Footer-neighborhood">
            <div class="Footer-column">
              <ul class="Footer-navigation">
                <li class="Footer-navigationItem">
                  <a class="Footer-text" href="">The Hamptons Site</a>
                </li>
                <li class="Footer-navigationItem">
                  <a class="Footer-text" href="">New Jersey Site</a>
                </li>
              </ul>
            </div>
            <div class="Footer-column">
              <ul class="Footer-navigation">
                <li>
                  <a class="Footer-text Footer-text-large" href="">Blog</a>
                </li>
                <li>
                  <a class="Footer-text Footer-text-large" href=""
                    >We're hiring!</a
                  >
                </li>
              </ul>
              <ul class="Footer-navigation">
                <li>
                  <a class="Footer-text Footer-text-large" href=""
                    >Submit your listings</a
                  >
                </li>
                <li>
                  <a class="Footer-text Footer-text-large" href="">Advertise</a>
                </li>
                <li>
                  <a class="Footer-text Footer-text-large" href=""
                    >NYC Rental Network</a
                  >
                </li>
                <li>
                  <a class="Footer-text Footer-text-large" href="">Press</a>
                </li>
              </ul>
            </div>
            <div class="Footer-column">
              <ul class="Footer-navigation">
                <li><a class="Footer-text" href="">Help</a></li>
                <li>
                  <a class="Footer-text" href=""
                    >Terms of Use &amp; Privacy Policy</a
                  >
                </li>
                <li><a class="Footer-text" href="">Ad Choice</a></li>
              </ul>
            </div>
          </div>
          <div>
            <a
              class="Footer-applicationLink Footer-applicationLink-apple"
              href=""
            >
              App Store
            </a>
            <a
              class="Footer-applicationLink Footer-applicationLink-android"
              href=""
            >
              Play Market
            </a>
          </div>
          <div class="Footer-separator"></div>
          <div class="Footer-socialIcons">
            <a class="Footer-linkIcon" href="">
              <img
                srcset="https://cdn-assets-s3.streeteasy.com/assets/icons/twitter-57501be2209fad15d6359c723a78ef948e08c84cf47452cab799071d362e664c.png"
                alt="Twitter"
                class="Footer-icon"
                src="//cdn-assets-s3.streeteasy.com/assets/icons/twitter-57501be2209fad15d6359c723a78ef948e08c84cf47452cab799071d362e664c.png"
              />
            </a>
            <a class="Footer-linkIcon" href="">
              <img
                srcset="https://cdn-assets-s3.streeteasy.com/assets/icons/facebook-beecef4f47f406f7d11894d526897a02f3d46f798e7981c3feb4eaf4d5c07d59.png"
                alt="Facebook"
                class="Footer-icon"
                src="//cdn-assets-s3.streeteasy.com/assets/icons/facebook-beecef4f47f406f7d11894d526897a02f3d46f798e7981c3feb4eaf4d5c07d59.png"
              />
            </a>
            <a class="Footer-linkIcon" href="">
              <img
                srcset="https://cdn-assets-s3.streeteasy.com/assets/icons/instagram-3441573dd0ddbbe8af00ab6ef4d499cd7faf5f1969d99eca9f039d735edf4059.png"
                alt="Instagram"
                class="Footer-icon Footer-icon-withoutMargin"
                src="//cdn-assets-s3.streeteasy.com/assets/icons/instagram-3441573dd0ddbbe8af00ab6ef4d499cd7faf5f1969d99eca9f039d735edf4059.png"
              />
            </a>
          </div>

          <div class="Footer-copyright">
            <span class="Footer-text">
              StreetBreezy Inc. Sites © 2006-2019 StreetBreezy
              <span class="Footer-dot">·</span>
              <a class="Footer-text" href="">Made In NYC</a>
              <span class="Footer-dot">·</span> Powered by Walking, Water and
              Snacks.
            </span>
          </div>
        </footer>
      </div>
    </div>

    <script
      type="text/javascript"
      src="http://ec2-18-223-116-251.us-east-2.compute.amazonaws.com/bundle.js"
    ></script>
    <script
      type="text/javascript"
      src="http://ec2-18-218-63-198.us-east-2.compute.amazonaws.com/:id/bundle.js"
    ></script>
    <script
      type="text/javascript"
      src="http://ec2-18-218-251-40.us-east-2.compute.amazonaws.com:3009/:id/bundle.js"
    ></script>
    <script
      type="text/javascript"
      src="http://ec2-54-174-166-132.compute-1.amazonaws.com/:id/bundle.js"
    ></script>
  </body>
</html>
