body {
  margin: 0;
}

.Header {
  background: #032765;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  z-index: 2;
}

a {
  text-decoration: none;
}

.Header a:hover {
  color: #0080c6;
}

.Header .Header-logo {
  display: inline-block;
  vertical-align: top;
}

.Landing-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.Logo {
  line-height: 50px;
}

.Logo-image {
  vertical-align: middle;
}

.Header .Header-nav {
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: top;
}

.HeaderNav {
  margin: 0 -15px 0 0;
  position: relative;
}

.Header ul {
  margin: 0;
  padding: 0;
}

.HeaderNav .HeaderNav-li {
  display: inline-block;
  line-height: 1.1;
  list-style: none;
}

.HeaderNav .HeaderNav-li > a,
.HeaderNav .HeaderNav-li > span {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}

.HeaderNavItem-popup.HeaderNavItem-popup--wide {
  width: 319px;
}

.HeaderNavItem-popup {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-top: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  right: -10px;
  text-align: left;
  top: 50px;
  width: 220px;
  z-index: 10001;
}

.HeaderNavItem-popup ul {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 20px;
  padding: 7px 0 11px;
}

.HeaderNavItem-popup ul > li {
  margin: 0 -15px;
  position: relative;
}

.HeaderNavItemPopupRow .HeaderNavItemPopupRow-link {
  display: table-cell;
  padding: 0 15px;
  vertical-align: middle;
  width: 230px;
}

.HeaderNavItem-popup a {
  color: #1a1f2c;
  display: block;
  line-height: 1.3;
  padding: 10px 15px;
  position: relative;
}

.HeaderNavItemPopupRow .HeaderNavItemPopupRow-btn {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.HeaderNavItemPopupRow .HeaderNavItemPopupRow-btn a {
  background: #e6e6e6;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 10px;
  text-decoration: none;
}

.MainNavBlock {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  height: 50px;
  position: relative;
}

.MainNav {
  display: inline-block;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 0 0 0 -18px;
  padding: 0;
}

.MainNavItem {
  display: inline-block;
  font-size: 14px;
  height: 50px;
  padding: 0 18px;
}

.MainNavItem .MainNavItem-text {
  color: #1a1f2c;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  text-transform: uppercase;
}

.MainNavBlock .MainNavBlock-search {
  position: absolute;
  display: inline-block;
  float: right;
  margin: 10px 0;
  width: 300px;
}

.MainNavBlock-search {
  margin-right: 0;
}

.Search-input {
  border: 1px solid #e6e6e6;
  border-radius: 14px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  padding: 5px 40px 5px 18px;
  width: 100%;
}

.ColoredBox {
  background: #272d39;
}

.ColoredBox-content {
  margin: 0 auto;
  width: 984px;
}

.Footer {
  display: flex;
  flex-wrap: wrap;
  padding: 56px 0 0;
}

.Footer-neighborhood {
  display: flex;
  flex: 0 0 756px;
  flex-wrap: wrap;
}

.Footer .Footer-column {
  padding-bottom: 26px;
  flex: 0 0 252px;
  padding: 0 0 49px;
}

.Footer-navigation {
  padding: 0 0 24px;
}

ul {
  list-style: none;
  margin: 0;
}

.Footer-text {
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 2;
}

.Footer-text-large {
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.Footer-applicationLink-apple {
  background: url(https://cdn-assets-s3.streeteasy.com/assets/svg/app_market/apple_store-9800d7ff7568db8e0c00e721301d54194b7b805198c9028d53774f75c42a9301.svg);
}

.Footer-applicationLink-android {
  background: url(https://cdn-assets-s3.streeteasy.com/assets/svg/app_market/google_play-4c22de7009b8dfe457ea79589225ffba41c3fbdb0b8894537eab6b846728cf15.svg);
}

.Footer-applicationLink {
  display: block;
  height: 42px;
  margin: 0 0 11px;
  overflow: hidden;
  text-indent: 100%;
  width: 137px;
  white-space: nowrap;
}

.Footer-separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 0 0;
  width: 100%;
}

.Footer-socialIcons {
  padding: 50px 0 20px;
  text-align: center;
  width: 100%;
}

.Footer-linkIcon {
  text-decoration: none;
}

.Footer-icon {
  height: 24px;
  margin: 0 20px 0 0;
  width: 24px;
}

.Footer-icon-withoutMargin {
  margin: 0;
}

.Footer-copyright {
  padding: 20px 0 45px;
  text-align: center;
  width: 100%;
}

.Footer-dot {
  padding: 0 5px;
}

.Component {
  border: 3px solid black;
}

.Components-row {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
}

.article {
  display: block;
}

.Image-Gallery {
  float: left;
  padding-right: 14px;
  height: 500px;
}

.Details {
  float: right;
  height: 850px;
}

.Description {
  float: left;
  padding-right: 14px;
  height: 1715px;
  margin-top: 0px;
}

.Similar-listings {
  height: 500px;
}

@media (min-width: 660px) {
  .Landing-container {
    width: 748px;
  }
}

@media (min-width: 980px) {
  .Landing-container {
    width: 980px;
  }
  .Search-button {
    background: url(https://cdn-assets-s3.streeteasy.com/assets/svg/icons/search-66dc512a99d8cd14890551f772557e52f78f48a5057f3bf91cfc358a1ff69fe1.svg)
      no-repeat;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 11px;
    top: 5px;
    width: 23px;
  }
}

@media (min-width: 980px) {
  .Image-Gallery {
    width: 60%;
  }
}

@media (min-width: 980px) {
  .Details {
    width: 37%;
  }
}

@media (min-width: 980px) {
  .Description {
    width: 50%;
  }
}
